# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# Data and models
*.pdf
*.docx
*.txt
*.csv
*.xlsx
*.jpg
*.jpeg
*.png
*.h5
*.pkl
*.pt

# Chroma / Vector stores
chroma_db/
.chroma/
vector_store/
