streamlit
pandas
openpyxl
xlrd
tabulate
langchain
langchain-community
langchain-experimental 
langchain-google-genai
langchain-openai
langchain-anthropic
sentence-transformers
duckduckgo-search
pypdf
docx2txt
pymupdf
chromadb
pytesseract
paddleocr
paddlepaddle
# opencv-python
opencv-python-headless
pdf2image
Pillow
deskew
python-dotenv
ddgs>=8.0.0
torchvision
rapidfuzz
google.generativeai